html
    head 
        title pug
    body
        h1  #{name}
        a(href="/user" style="font-size:20px; margin-bottom:10px;") list user 

        form(action='/user/search')
            label Search user
            br
            input(type='text' name='q')
            br
            input(type='submit' value='Submit')
